{% extends 'website/base.html' %}

{% block style_script %}
{% endblock %}


{% block middle %}


    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    
    
    <script src = "http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyB6K1CFUQ1RwVJ-nyXxd6W0rfiIBe12Q" type="text/javascript"></script>
    

    {% load staticfiles %}
    <link  rel = "stylesheet" type="text/css" href="{% static 'website/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'website/js/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/themes/fusioncharts.theme.fint.js' %}"></script>
    
    <style>

        div.fixed1{
            position: fixed;
            top: 150px;
            left: 75px;
        }

        div.fixed2{
            position: fixed;
            top: 150px;
            left: 750px;
        }

        div.fixed3{
            position: fixed;
            top: 475px;
            left: 775px;
        }

        div.fixed4{
            position: fixed;
            top: 475px;
            left: 1000px;
        }

        div.fixed5{
            position: fixed;
            top: 475px;
            left: 1175px;
        }

        .w3-btn {
        margin-bottom:10px;
            font-size: 24px;
        }

        #map-canvas{
            border: 1px solid Grey;
            width:575px;
            height:300px;
        }

        #chart-container {
            width: 675px;
            height: auto;
        }

        table {
            border-collapse: separate;
            border-spacing: 50px 0;
        }

        td {
            padding: 10px 0;
        }

    </style>
    
    <script type="text/javascript">

        FusionCharts.ready(function(){
                
            var data = [], count = 0;
            {% for entry in data %}
                data.push( {"label": count, "value": {{ entry.co2 }} } )
            {% endfor %}

            var revenueChart = new FusionCharts({
                "type": "line",
                "renderAt": "chart-container",
                "width": "500",
                "height": "300",
                "dataFormat": "json",
                "dataSource":  {
                    "chart": {
                        "caption": "Co2 distribution",
                        "xAxisName": "Time",
                        "yAxisName": "Co2",
                        "theme": "fint"
                    },
                    
                    "data": data
                }

            });
        
            revenueChart.render();

            //map
            var map = new google.maps.Map(document.getElementById('map-canvas'),{
                center:{
                    lat: {{ lat }},
                    lng: {{ lng }}
                },
                zoom: 15
            });

            // Drawing circles.
            var circle = new google.maps.Circle({
                map: map,
                center: new google.maps.LatLng( {{lat}}, {{lng}} ),
                fillColor: "#00FF00",
                strokeColor: "red",
                radius: 40
            });

            ///marker
            var marker = new google.maps.Marker({
                position: {
                    lat: {{ lat }},
                    lng: {{ lng }}
                },
                map: map,
                draggable: false
            });
        })

    </script>



	<body>

		
        <div class="fixed1">
            <div id="chart-container"></div>
        </div>
        
        <div class="fixed2">
            <div id="map-canvas"></div>
        </div>


        <div class="fixed3">
            <a href="{% url 'redirect' lat lng 'temp' %}">
            <center><button class="w3-btn w3-white w3-border w3-border-blue w3-round-large">Temperature</button></center></a>
        </div>

        <div class="fixed4">
            <a href="{% url 'redirect' lat lng 'hum' %}">
            <center><button class="w3-btn w3-white w3-border w3-border-blue w3-round-large">Humidity</button></center></a>
        </div>

        <div class="fixed5">
            <a href="{% url 'redirect' lat lng 'smoke' %}">
            <center><button class="w3-btn w3-white w3-border w3-border-blue w3-round-large">Smoke</button></center></a>
        </div>

	</body>
	    
{% endblock %}