{% extends 'website/base.html' %}


{% block style_script %}

    <style>

        table {
          border-collapse: separate;
          border-spacing: 50px 0;
        }

        td {
          padding: 10px 0;
        }
        
        #map-canvas{
            margin-top: 3px;
            border: 1px solid Grey;
            width:1090px;
            height:500px;
        }

        .w3-btn {
        margin-bottom:10px;
            font-size: 24px;
        }

    </style>
 
    <meta charset="UTF-8">
    <!--<meta http-equiv="refresh" content="60" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Weather monitoring</title>
    
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyB6K1CFUQ1RwVJ-nyXxd6W0rfiIBe12Q" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



    <script>

        var lat = 13.554653400463117;
        var lng = 80.02738224029542;
        var map, marker, points = [];

        
        function yourFunction(lat, lng, fl)
        {

            var lat_matched, lng_matched, flag = 0;

            // Precison of lat, lng: 4 decimal places
            var int_lat = Math.floor( lat*10000 );
            var int_lng = Math.floor( lng*10000 );


            {% for point in points %}

                var l1 = Math.floor( {{ point.latitude }}*10000 );
                var l2 = Math.floor( {{ point.longitude }}*10000 );

                if( Math.abs( l1 - int_lat) <= 10 )
                {
                    if( Math.abs( l2 - int_lng) <= 10 )
                    {

                        lat_matched = {{point.latitude}};
                        lng_matched = {{point.longitude}};
                        flag = 1;
                        window.location.href = 'redirect/'+lat_matched+'/'+lng_matched+'/'+fl+'/'
                    }
                }


            {% endfor %}

            if(flag == 0)
                alert("Select among red circles !!");
                
        }



        function init(){

            //map
            map = new google.maps.Map(document.getElementById('map-canvas'),{
                center:{
                    lat: 13.554653400463117,
                    lng: 80.02738224029542
                },
                zoom: 13
            });
            
            //marker
            marker = new google.maps.Marker({
                position: {
                    lat: 13.554653400463117,
                    lng: 80.02738224029542
                },

                map: map,
                draggable: true,
            });    


            {% for point in points %}

                
                console.log({{ point.latitude }});
                console.log({{ point.longitude }});


                // Drawing circles.
                var circle = new google.maps.Circle({
                    
                    map: map,                    
                    center: new google.maps.LatLng( {{point.latitude}}, {{point.longitude}} ),
                    fillColor: "#00FF00",
                    strokeColor: "red",
                    radius: 100
                });

             {% endfor %}


            //drraged event
            google.maps.event.addListener(marker, 'dragend', function(){
                lat = marker.getPosition().lat();
                lng = marker.getPosition().lng();

            });                
        }
        
        window.onload = init;

    </script>

{% endblock %}


{% block middle %}

    <div class="container-fluid">
        <div class = "row">
            <div class = "col-md-2" >
                <div class="colHeight">
                    <h4 class="centerText"> Present </h4>
                    <ul>
                        
                        <li><a href="#" onclick="yourFunction(lat, lng, 'temp')"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Temperature</a></li>


                        <li><a href="#"  onclick="yourFunction(lat, lng, 'hum')"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Humidity</a></li>


                        <li><a href="#"  onclick="yourFunction(lat, lng, 'co')"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;CO2</a></li>


                        <li><a href="#"  onclick="yourFunction(lat, lng, 'smoke')"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Smoke</a></li>
                    </ul>
                </div>
            </div>
            
            <div class = "col-md-10">
                <div class="colHeight">
                    <center><div id="map-canvas"></div><center>
                </div>
            </div>

        </div>
    </div>
                
    
{% endblock %}