{% extends 'website/base.html' %}


{% block style_script %}

    <style>

        table {
          border-collapse: separate;
          border-spacing: 50px 0;
        }

        td {
          padding: 10px 0;
        }
        
        #map-canvas{
            margin-top: 3px;
            border: 1px solid Grey;
            width:975px;
            height:500px;
        }

        .w3-btn {
        margin-bottom:10px;
            font-size: 24px;
        }

    </style>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <title>Weather monitoring</title>
    
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyB6K1CFUQ1RwVJ-nyXxd6W0rfiIBe12Q" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>



    <script>

        var lat = 13.554653400463117;
        var lng = 80.02738224029542;
        var map, points = [];

        
        function yourFunction(lat, lng)
        {
            window.location.href = 'redirect/'+lat+'/'+lng+'/'
        }


        function left_panel()
        {

            var html = "<h3 class='centerText'> Present </h3><br>";
            html += "<table><tr><td><img src='/static/website/images/red.jpg' height='20' width='20'></td><td><h6>Our own Data points</h6></td></tr><tr><td><img src='/static/website/images/green.jpg' height='20' width='20'></td><td><h6>Others Data points</h6></td></tr></table>";


            document.getElementById("left-panel").innerHTML = html;

        }


        function init(){

            

            left_panel();


            //map
            map = new google.maps.Map(document.getElementById('map-canvas'),{
                center:{
                    lat: 13.554653400463117,
                    lng: 80.02738224029542
                },
                zoom: 13
            });
            
            
            {% for point in points %}            


                //marker
                var marker = new google.maps.Marker({
                    position: {
                        lat: {{ point.latitude }},
                        lng: {{ point.longitude }}
                    },

                    map: map,
                    draggable: false,
                });    


                {% if point.source == 1 %}

                    // Drawing circles of our own.
                    var circle = new google.maps.Circle({
                        
                        map: map,
                        center: new google.maps.LatLng( {{point.latitude}}, {{point.longitude}} ),
                        fillColor: "#00FF00",
                        strokeColor: "red",
                        radius: 100
                    });

                {% else %}

                    // Drawing circles of others data.
                    var circle = new google.maps.Circle({
                        
                        map: map,
                        center: new google.maps.LatLng( {{point.latitude}}, {{point.longitude}} ),
                        fillColor: "red",
                        strokeColor: "#00FF00",
                        radius: 100
                    });

                {% endif %}

                var infowindow = new google.maps.InfoWindow(); 
                var content = '<b>Temperature: </b>{{point.temperature}} &#8451;<br><b>Humidity: </b>{{point.humidity}} %<br><b>Co2: </b>{{point.co2}}<br><b>Smoke: </b>{{point.smoke}}';
                //var content = '<table><tr><td>Temperature</td><td>{{point.temperature}}</td></tr><tr><td>Humidity</td><td>{{point.humidity}}</td></tr><tr><td>Co2</td><td>{{point.co2}}</td></tr><tr><td>Smoke</td><td>{{point.smoke}}</td></tr></table>'

                google.maps.event.addListener(marker, 'click', function() {
                    yourFunction({{ point.latitude }}, {{ point.longitude }});
                });


                google.maps.event.addListener(marker,'mouseover', (function(marker, content, infowindow){
                    return function() {
                
                       infowindow.setContent(content);
                       infowindow.open(map, marker);

                        // Changing data on left panel
                        var html = "<h3 class='centerText'> Present </h3><br>";

                        html += "<table><tr><td><img src='/static/website/images/red.jpg' height='20' width='20'></td><td><h6>Our own Data points</h6></td></tr><tr><td><img src='/static/website/images/green.jpg' height='20' width='20'></td><td><h6>Others Data points</h6></td></tr></table><br><br>";

                        html += "<h4 style=margin-left:40px;>Temperature - " + {{point.temperature}} + " &#8451;</h4><br>";
                        html += "<h4 style=margin-left:40px;>Humidity - " + {{ point.humidity }} + " %</h4><br>";
                        html += "<h4 style=margin-left:40px;>Co2 - " + {{ point.co2}} + "<sub> ppm</sub></h4><br>";
                        html += "<h4 style=margin-left:40px;>Smoke - " + {{ point.smoke }} + "<sub> ppm</sub></h4><br>";


                        document.getElementById("left-panel").innerHTML = html;
                
                    };
                })(marker, content, infowindow));
                

                google.maps.event.addListener(marker,'mouseout', (function(marker, content, infowindow){
                    return function() {
                      
                       infowindow.close();
                       
                       var html = "<h3 class='centerText'> Present </h3><br>";

                       html += "<table><tr><td><img src='/static/website/images/red.jpg' height='20' width='20'></td><td><h6>Our own Data points</h6></td></tr><tr><td><img src='/static/website/images/green.jpg' height='20' width='20'></td><td><h6>Others Data points</h6></td></tr></table>"

                        document.getElementById("left-panel").innerHTML = html;

                    };
                })(marker, content, infowindow));


             {% endfor %}


        }
        
        window.onload = init;

    </script>

{% endblock %}



{% block middle %}

    <div class="container-fluid">
        <div class = "row">

            <div class = "col-md-3" >
                <div class="colHeight" id="left-panel">
                </div>
            </div>
            
            <div class = "col-md-9">
                <div class="colHeight">
                    <center><div id="map-canvas"></div><center>
                </div>
            </div>

        </div>
    </div>
                
    
{% endblock %}