{% extends 'website/base.html' %}

{% block middle %}
    <h2 class="centerhead">LogIn</h2>
    {% if error_message %}
        <div class="col-sm-offset-2 well"  >
            <p class="alert alert-danger ">{{ error_message }}</p>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 well">
                <form role="form" action="{% url 'login' %}" method="post" name="loginform">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Login</legend>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="email" placeholder="Your Email" required class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="pass">Password</label>
                            <input type="password" name="pass" placeholder="Your Password" required class="form-control" />
                        </div>

                        <div class="form-group">
                            <input type="submit" name="login" value="Login" class="btn btn-block btn-primary" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}